{% load static %}
<!-- Footer -->
<footer id="footer">
    <div class="themesflat-container">
        <div class="row">
            <div class="col-12">
                <div class="footer-content flex flex-grow">
                    <div class="widget-logo flex-grow">
                        <div class="logo-footer" id="logo-footer">
                            <a href="{% url 'yenihome' %}">
                                <img id="logo_footer" src="{% static 'images/kids-bedtime.png' %}"
                                     data-retina="{% static 'images/kids-bedtime.png' %}" loading="lazy"
                                     alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="widget widget-menu style-1">
                        <h5 class="title-widget">Popular Categories</h5>
                        <ul>
                            <li><a href="#">Bedtime Story</a></li>
                            <li><a href="#">Fairy Tales</a></li>
                            <li><a href="#">Magic Story</a></li>
                            <li><a href="#">Animals Story</a></li>
                            <li><a href="#">Family Story</a></li>
                            <li><a href="#">All Categories</a></li>
                        </ul>
                    </div>
                    <div class="widget widget-menu style-2">
                        <h5 class="title-widget">Support</h5>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Cookie Policy</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Service</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="widget widget-menu style-3">
                        <h5 class="title-widget">Friendly Sites</h5>
                        <ul>
                            <li><a href="https://masaloku.com.tr/" target="_blank">Masal Oku</a></li>
                            <li><a href="https://www.cocukmasallarioku.com/" target="_blank">Masal Oku</a></li>
                            <li><a href="https://www.thestoryunfolds.com/" target="_blank">Bedtime Story</a></li>
                            <li><a href="https://www.thestoryunfolds.com/" target="_blank">Kids Story</a></li>
                        </ul>
                    </div>
                    <div class="widget-last">
                        <div class="widget-menu style-4">
                            <h5 class="title-widget">Help</h5>
                            <ul>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                        <h5 class="title-widget mt-30">Join the community</h5>
                        <div class="widget-social">
                            <ul class="flex">
                                <li><a href="https://www.facebook.com/kidsstorieshub" target="_blank" class="icon-facebook"></a></li>
                                <li><a href="https://twitter.com/@kidsstorieshub" target="_blank" class="icon-twitter"></a></li>
                                <li><a href="#" class="icon-vt"></a></li>
                                <li><a href="#" class="icon-tiktok"></a></li>
                                <li><a href="https://www.youtube.com/@KidsStoriesHubBedtime" target="_blank" class="icon-youtube"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2023 Free Kids Story</p>
            <ul class="flex">
                <li>
                    <a href="#">Privacy Policy</a>
                </li>
                <li>
                    <a href="#">Terms of Service</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<!-- /#footer -->