{% load static %}

<div class="side-bar col-md-4 col-12">
    <div class="widget widget-categories">
        <h5 class="title-widget">Categories</h5>
        <ul>
            {% for c in categories %}
                <li>
                    <div class="cate-item"><a
                            href="{% url 'kategorislug' slug=c.slug %}">{{ c.short_title }}</a></div>
                    <div class="number">{{ c.story_count }}</div>
                </li>

            {% endfor %}


        </ul>
    </div>
    <div class="widget widget-related-posts">
        <h5 class="title-widget">Related posts</h5>
        {% for four in first_four %}
            <div class="related-posts-item">
                <div class="card-media">
                    <img src="{{ four.resim.url }}" alt="{{ four.title|truncatechars:35 }}">
                </div>
                <div class="card-content">
                    <h5><a href="{% url 'sil' slug=four.slug %}">{{ four.title }}</a></h5>
                </div>
            </div>

        {% endfor %}


    </div>
</div>