{% load static %}

<!-- Widget :: Categories -->
<div class="widget_categories widget widget__sidebar">
    <h3 class="widget-title">Categories</h3>
    <div class="widget-content">
        <ul>
            {% for category in Categories_ALL %}
                <li>
                    <a href="{% url 'kategori_detay' kategori_slug=category.slug %}">{{ category.short_title }}</a>
                    ({{ category.story_count }})
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<!-- Widget :: Latest Posts -->
<div class="latest-posts-widget widget widget__sidebar">
    <h3 class="widget-title">Random Children's Stories</h3>
    <div class="widget-content">
        <ul class="latest-posts-list">
            {% for randomstory in Random_Story %}
                <li>
                  <!--  <figure class="thumbnail"><a href="{% url 'postagit' story_slug=randomstory.slug %}"><img
                            src="{{ randomstory.resim.url }}" alt="{{ randomstory.title }}"
                            style="width:120px; height:60px;"></a></figure> -->
                    <!-- <span class="date">24/07/2013</span> -->
                    <h4 class="title"><a
                            href="{% url 'postagit' story_slug=randomstory.slug %}">{{ randomstory.title }}</a>
                    </h4>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<!-- /Widget :: Categories -->