{% load static %}
<div>
    <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7065951693101615"
            crossorigin="anonymous"></script>
    <!-- esnek yatay -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7065951693101615"
         data-ad-slot="3184627616"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>