{% extends 'newbase.html' %}
{% load static %}

{% block meta %}
    <title>Story Unfolds: 1000+ Interactive Bedtime Stories & Learning Games (Free App)</title>
    <meta name="description"
          content="🌟 #1 Kids Story App! 1000+ magical tales 🧚♂️, educational games 🧩 & sleep-friendly audio 📚. FREE download for iOS/Android. Perfect for ages 3-9!">
    <meta name="keywords"
          content="bedtime stories, kids stories app, free children's books, educational games, interactive stories, preschool learning">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    <meta name="author" content="Kids Story Hub">
{% endblock meta %}

{% block OGF %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:title" content="Story Unfolds: 1000+ Interactive Kids Stories & Games">
    <meta property="og:description"
          content="🚀 Free Educational App! 1000+ bedtime stories 📖, voice narration 🎧, parent-approved games 🧠. Download Now 👇">
    <meta property="og:image"
          content="https://magicstory.s3.amazonaws.com/static/yeni/assets/images/og-kids-stories.jpg">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="400">
    <meta property="og:locale" content="en_US">
{% endblock %}


{% block tw %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@KidsStoriesHub">
    <meta name="twitter:creator" content="@StoryUnfoldsApp">
    <meta name="twitter:image:alt" content="Story Unfolds App Interface">
{% endblock tw %}

<!-- Block Begin -->
{% block main %}
            <div class="tf-section tf-grid-blog pb-80">
                <div class="themesflat-container">
                    <div class="row">
                        <div class="fl-blog fl-item2 col-lg-4 col-md-6">
                            <article class="tf-card-article">
                                <div class="card-media">
                                    <a href="blog-detail.html">
                                        <img src="assets/images/blog/blog-grid-01.jpg" alt="">
                                    </a>
                                </div>
                                <div class="meta-info flex">
                                    <div class="item art active">Digital Art</div>
                                    <div class="item date">Mon, 08 May </div>
                                </div>
                                <div class="card-title">
                                    <h5><a href="nft-detail-2.html">Unreal Engine for Fortnite is a big deal</a></h5>
                                </div>
                                <div class="card-bottom flex items-center justify-between">
                                    <div class="author flex items-center justify-between">
                                        <div class="avatar">
                                            <img src="assets/images/avatar/avatar-box-01.jpg" alt="Image">
                                        </div>
                                        <div class="info">
                                            <span>Posted by:</span>
                                            <h6><a href="author-2.html">Cody Fisher</a> </h6>
                                        </div>
                                    </div>
                                    <a class="link" href="#"><i class="icon-arrow-up-right2"></i></a>
                                </div>
                            </article>
                        </div>
                        <div class="fl-blog fl-item2 col-lg-4 col-md-6">
                            <article class="tf-card-article">
                                <div class="card-media">
                                    <a href="blog-detail.html">
                                        <img src="assets/images/blog/blog-grid-02.jpg" alt="">
                                    </a>
                                </div>
                                <div class="meta-info flex">
                                    <div class="item art active">Digital Art</div>
                                    <div class="item date">Mon, 08 May </div>
                                </div>
                                <div class="card-title">
                                    <h5><a href="nft-detail-2.html">Star Atlas Showroom 2.1: Massive ships and pretty skins</a></h5>
                                </div>
                                <div class="card-bottom flex items-center justify-between">
                                    <div class="author flex items-center justify-between">
                                        <div class="avatar">
                                            <img src="assets/images/avatar/avatar-box-02.jpg" alt="Image">
                                        </div>
                                        <div class="info">
                                            <span>Posted by:</span>
                                            <h6><a href="author-2.html">Marvin McKinney</a> </h6>
                                        </div>
                                    </div>
                                    <a class="link" href="#"><i class="icon-arrow-up-right2"></i></a>
                                </div>
                            </article>
                        </div>
                        <div class="fl-blog fl-item2 col-lg-4 col-md-6">
                            <article class="tf-card-article">
                                <div class="card-media">
                                    <a href="blog-detail.html">
                                        <img src="assets/images/blog/blog-grid-03.jpg" alt="">
                                    </a>
                                </div>
                                <div class="meta-info flex">
                                    <div class="item art active">Digital Art</div>
                                    <div class="item date">Mon, 08 May </div>
                                </div>
                                <div class="card-title">
                                    <h5><a href="nft-detail-2.html">Vision Pro: Apple’s mixed-reality headset is here</a></h5>
                                </div>
                                <div class="card-bottom flex items-center justify-between">
                                    <div class="author flex items-center justify-between">
                                        <div class="avatar">
                                            <img src="assets/images/avatar/avatar-box-03.jpg" alt="Image">
                                        </div>
                                        <div class="info">
                                            <span>Posted by:</span>
                                            <h6><a href="author-2.html">Savannah Nguyen</a> </h6>
                                        </div>
                                    </div>
                                    <a class="link" href="#"><i class="icon-arrow-up-right2"></i></a>
                                </div>
                            </article>
                        </div>
                        <div class="fl-blog fl-item2 col-lg-4 col-md-6">
                            <article class="tf-card-article">
                                <div class="card-media">
                                    <a href="blog-detail.html">
                                        <img src="assets/images/blog/blog-grid-04.jpg" alt="">
                                    </a>
                                </div>
                                <div class="meta-info flex">
                                    <div class="item art active">Digital Art</div>
                                    <div class="item date">Mon, 08 May </div>
                                </div>
                                <div class="card-title">
                                    <h5><a href="nft-detail-2.html">New Shrapnel map to mix blossom and blood</a></h5>
                                </div>
                                <div class="card-bottom flex items-center justify-between">
                                    <div class="author flex items-center justify-between">
                                        <div class="avatar">
                                            <img src="assets/images/avatar/avatar-box-02.jpg" alt="Image">
                                        </div>
                                        <div class="info">
                                            <span>Posted by:</span>
                                            <h6><a href="author-2.html">Wade Warren</a> </h6>
                                        </div>
                                    </div>
                                    <a class="link" href="#"><i class="icon-arrow-up-right2"></i></a>
                                </div>
                            </article>
                        </div>
                        <div class="fl-blog fl-item2 col-lg-4 col-md-6">
                            <article class="tf-card-article">
                                <div class="card-media">
                                    <a href="blog-detail.html">
                                        <img src="assets/images/blog/blog-grid-05.jpg" alt="">
                                    </a>
                                </div>
                                <div class="meta-info flex">
                                    <div class="item art active">Digital Art</div>
                                    <div class="item date">Mon, 08 May </div>
                                </div>
                                <div class="card-title">
                                    <h5><a href="nft-detail-2.html">Meta sticks to guns with lighter, VR focussed Quest 3</a></h5>
                                </div>
                                <div class="card-bottom flex items-center justify-between">
                                    <div class="author flex items-center justify-between">
                                        <div class="avatar">
                                            <img src="assets/images/avatar/avatar-box-03.jpg" alt="Image">
                                        </div>
                                        <div class="info">
                                            <span>Posted by:</span>
                                            <h6><a href="author-2.html">Jenny Wilson</a> </h6>
                                        </div>
                                    </div>
                                    <a class="link" href="#"><i class="icon-arrow-up-right2"></i></a>
                                </div>
                            </article>
                        </div>
                        <div class="fl-blog fl-item2 col-lg-4 col-md-6">
                            <article class="tf-card-article">
                                <div class="card-media">
                                    <a href="blog-detail.html">
                                        <img src="assets/images/blog/blog-grid-06.jpg" alt="">
                                    </a>
                                </div>
                                <div class="meta-info flex">
                                    <div class="item art active">Digital Art</div>
                                    <div class="item date">Mon, 08 May </div>
                                </div>
                                <div class="card-title">
                                    <h5><a href="nft-detail-2.html">Shardbound carves out a place for the great comeback</a></h5>
                                </div>
                                <div class="card-bottom flex items-center justify-between">
                                    <div class="author flex items-center justify-between">
                                        <div class="avatar">
                                            <img src="assets/images/avatar/avatar-box-01.jpg" alt="Image">
                                        </div>
                                        <div class="info">
                                            <span>Posted by:</span>
                                            <h6><a href="author-2.html">Annette Black</a> </h6>
                                        </div>
                                    </div>
                                    <a class="link" href="#"><i class="icon-arrow-up-right2"></i></a>
                                </div>
                            </article>
                        </div>
                        <div class="fl-blog fl-item2 col-lg-4 col-md-6">
                            <article class="tf-card-article">
                                <div class="card-media">
                                    <a href="blog-detail.html">
                                        <img src="assets/images/blog/blog-grid-07.jpg" alt="">
                                    </a>
                                </div>
                                <div class="meta-info flex">
                                    <div class="item art active">Digital Art</div>
                                    <div class="item date">Mon, 08 May </div>
                                </div>
                                <div class="card-title">
                                    <h5><a href="nft-detail-2.html">Unreal Engine for Fortnite is a big deal</a></h5>
                                </div>
                                <div class="card-bottom flex items-center justify-between">
                                    <div class="author flex items-center justify-between">
                                        <div class="avatar">
                                            <img src="assets/images/avatar/avatar-box-01.jpg" alt="Image">
                                        </div>
                                        <div class="info">
                                            <span>Posted by:</span>
                                            <h6><a href="author-2.html">Cody Fisher</a> </h6>
                                        </div>
                                    </div>
                                    <a class="link" href="#"><i class="icon-arrow-up-right2"></i></a>
                                </div>
                            </article>
                        </div>
                        <div class="fl-blog fl-item2 col-lg-4 col-md-6">
                            <article class="tf-card-article">
                                <div class="card-media">
                                    <a href="blog-detail.html">
                                        <img src="assets/images/blog/blog-grid-08.jpg" alt="">
                                    </a>
                                </div>
                                <div class="meta-info flex">
                                    <div class="item art active">Digital Art</div>
                                    <div class="item date">Mon, 08 May </div>
                                </div>
                                <div class="card-title">
                                    <h5><a href="nft-detail-2.html">Unreal Engine for Fortnite is a big deal</a></h5>
                                </div>
                                <div class="card-bottom flex items-center justify-between">
                                    <div class="author flex items-center justify-between">
                                        <div class="avatar">
                                            <img src="assets/images/avatar/avatar-box-01.jpg" alt="Image">
                                        </div>
                                        <div class="info">
                                            <span>Posted by:</span>
                                            <h6><a href="author-2.html">Cody Fisher</a> </h6>
                                        </div>
                                    </div>
                                    <a class="link" href="#"><i class="icon-arrow-up-right2"></i></a>
                                </div>
                            </article>
                        </div>
                        <div class="fl-blog fl-item2 col-lg-4 col-md-6">
                            <article class="tf-card-article">
                                <div class="card-media">
                                    <a href="blog-detail.html">
                                        <img src="assets/images/blog/blog-grid-09.jpg" alt="">
                                    </a>
                                </div>
                                <div class="meta-info flex">
                                    <div class="item art active">Digital Art</div>
                                    <div class="item date">Mon, 08 May </div>
                                </div>
                                <div class="card-title">
                                    <h5><a href="nft-detail-2.html">Unreal Engine for Fortnite is a big deal</a></h5>
                                </div>
                                <div class="card-bottom flex items-center justify-between">
                                    <div class="author flex items-center justify-between">
                                        <div class="avatar">
                                            <img src="assets/images/avatar/avatar-box-01.jpg" alt="Image">
                                        </div>
                                        <div class="info">
                                            <span>Posted by:</span>
                                            <h6><a href="author-2.html">Cody Fisher</a> </h6>
                                        </div>
                                    </div>
                                    <a class="link" href="#"><i class="icon-arrow-up-right2"></i></a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
{% endblock main %}

<!-- Block Finnish -->

<!-- Javascript -->
{% block js %}
    <script src="{% static 'new/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'new/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'new/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'new/assets/js/SplitText.js' %}"></script>
    <script src="{% static 'new/assets/js/simpleParallax.min.js' %}"></script>
    <script src="{% static 'new/assets/js/gsap.js' %}"></script>
    <script src="{% static 'new/assets/js/ScrollTrigger.js' %}"></script>
    <script src="{% static 'new/assets/js/gsap-animation.js' %}"></script>
    <script src="{% static 'new/assets/js/tsparticles.min.js' %}"></script>
    <script src="{% static 'new/assets/js/tsparticles.js' %}"></script>
    <script src="{% static 'new/assets/js/main.js' %}"></script>
{% endblock js %}