{% extends 'newbase.html' %}
{% load static %}

{% block meta %}
    <title>Story Unfolds: 1000+ Interactive Bedtime Stories & Learning Games (Free App)</title>
    <meta name="description"
          content="🌟 #1 Kids Story App! 1000+ magical tales 🧚♂️, educational games 🧩 & sleep-friendly audio 📚. FREE download for iOS/Android. Perfect for ages 3-9!">
    <meta name="keywords"
          content="bedtime stories, kids stories app, free children's books, educational games, interactive stories, preschool learning">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    <meta name="author" content="Kids Story Hub">
{% endblock meta %}

{% block OGF %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:title" content="Story Unfolds: 1000+ Interactive Kids Stories & Games">
    <meta property="og:description"
          content="🚀 Free Educational App! 1000+ bedtime stories 📖, voice narration 🎧, parent-approved games 🧠. Download Now 👇">
    <meta property="og:image"
          content="https://magicstory.s3.amazonaws.com/static/yeni/assets/images/og-kids-stories.jpg">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="400">
    <meta property="og:locale" content="en_US">
{% endblock %}


{% block tw %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@KidsStoriesHub">
    <meta name="twitter:creator" content="@StoryUnfoldsApp">
    <meta name="twitter:image:alt" content="Story Unfolds App Interface">
{% endblock tw %}

<!-- Block Begin -->
{% block main %}
    <div class="flat-title-page">
                <div class="themesflat-container">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="heading text-center">Kids Story and Tales Category Free Read!</h1>
                            <ul class="breadcrumbs flex justify-center">
                                <li class="icon-keyboard_arrow_right">
                                    <a href="{% url 'yenihome' %}">Home</a>
                                </li>
                                <li>
                                    <a href="{% url 'kategori' %}">Category</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

    <div class="tf-section tf-grid-blog pb-80">
        <div class="themesflat-container">
            <div class="row">
                {% for category in categories %}
                    <div class="fl-blog fl-item2 col-lg-4 col-md-6">
                        <article class="tf-card-article">
                            <div class="card-media">
                                <a href="blog-detail.html">
                                    <img src="{% static 'images/bedtime-story/categories/'|add:category.slug|add:'.webp' %}"
                                         alt="{{ category.Title }}" loading="lazy" height="325" width="325" >
                                </a>
                            </div>
                            <div class="card-title text-center">
                                <h5><a href="nft-detail-2.html">{{ category.short_title }}</a></h5>
                            </div>
                            <div class="card-bottom flex items-center justify-between">
                                <div class="author flex items-center justify-between">
                                    <div class="info">
                                        <h6>{{ category.ozet_kisa }}</h6>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock main %}

<!-- Block Finnish -->

<!-- Javascript -->
{% block js %}
    <script src="{% static 'new/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'new/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'new/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'new/assets/js/SplitText.js' %}"></script>
    <script src="{% static 'new/assets/js/simpleParallax.min.js' %}"></script>
    <script src="{% static 'new/assets/js/gsap.js' %}"></script>
    <script src="{% static 'new/assets/js/ScrollTrigger.js' %}"></script>
    <script src="{% static 'new/assets/js/gsap-animation.js' %}"></script>
    <script src="{% static 'new/assets/js/tsparticles.min.js' %}"></script>
    <script src="{% static 'new/assets/js/tsparticles.js' %}"></script>
    <script src="{% static 'new/assets/js/main.js' %}"></script>
{% endblock js %}