{% extends 'newbase.html' %}
{% load static %}

{% block meta %}
    <title>Story Unfolds: 1000+ Interactive Bedtime Stories & Learning Games (Free App)</title>
    <meta name="description"
          content="🌟 #1 Kids Story App! 1000+ magical tales 🧚♂️, educational games 🧩 & sleep-friendly audio 📚. FREE download for iOS/Android. Perfect for ages 3-9!">
    <meta name="keywords"
          content="bedtime stories, kids stories app, free children's books, educational games, interactive stories, preschool learning">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="author" content="Kids Story Hub">
{% endblock meta %}

{% block OGF %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:title" content="Story Unfolds: 1000+ Interactive Kids Stories & Games">
    <meta property="og:description"
          content="🚀 Free Educational App! 1000+ bedtime stories 📖, voice narration 🎧, parent-approved games 🧠. Download Now 👇">
    <meta property="og:image"
          content="https://magicstory.s3.amazonaws.com/static/yeni/assets/images/og-kids-stories.jpg">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="400">
    <meta property="og:locale" content="en_US">
{% endblock %}


{% block tw %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@KidsStoriesHub">
    <meta name="twitter:creator" content="@StoryUnfoldsApp">
    <meta name="twitter:image:alt" content="Story Unfolds App Interface">
{% endblock tw %}



<!-- Block Begin -->
{% block main %}

    <div class="tf-section tf-blog-detail pb-48">
        <div class="themesflat-container">
            <div class="row">
                <div class="wrapper col-md-8">
                    <div class="inner-content mr-20">
                        <h1 class="title-post">{{ post.h1 }}1</h1>
                        <div class="meta-post flex justify-between mt-10 items-center">
                            <div class="author flex items-center justify-between">
                                <div class="avatar">
                                    <img src="https://themesflat.co/html/open9/assets/images/avatar/avatar-09.png"
                                         loading="lazy" width="38" height="38" alt="avatar">
                                </div>
                                <div class="info">
                                    <h6>Tommy Tony</h6>
                                </div>
                            </div>
                            <div class="meta-info flex">
                                <div class="item art active">{{ post.Hikaye_Turu.short_title }}</div>
                                <div class="item date">{{ post.olusturma_tarihi|date:"d F Y" }}</div>

                            </div>
                        </div>
                        <div class="divider"></div>

                        <!-- Post Begin -->

                        {{ post.icerik|safe }}


                        {% if post.resim2 %}
                            <figure class="alignnone entry-thumb">
                                    <span><img src="{{ post.resim2.url }}" loading="lazy"
                                               alt="{{ post.title }} - 2" width="858" height="400"> </span>
                            </figure>
                            <br>
                        {% endif %}

                        {% if post.icerik2 %}
                            {% include 'parcali/yatayreklam.html' %}

                            {{ post.icerik2|safe }}

                        {% endif %}


                        {% if post.resim3 %}
                            <figure class="image mt-4">
                                    <span><img src="{{ post.resim3.url }}" loading="lazy"
                                               alt="{{ post.title }} - 3" width="858" height="400"> </span>
                            </figure>
                        {% endif %}

                        {% if post.icerik3 %}
                            {% include 'parcali/yatayreklam.html' %}
                            {{ post.icerik3|safe }}
                        {% endif %}


                        {% if post.resim4 %}
                            <br>
                            <figure class="image">
                                    <span><img src="{{ post.resim4.url }}" loading="lazy"
                                               alt="{{ post.title }} - 4" width="858" height="400"> </span>
                            </figure>
                            <br>
                        {% endif %}

                        {% if post.icerik4 %}
                            <div class="mt-4"> {{ post.icerik4|safe }}</div>
                        {% endif %}

                        {% if post.resim5 %}
                            <br>
                            <figure class="image">
                                    <span><img src="{{ post.resim5.url }}" loading="lazy"
                                               alt="{{ post.title }} - 5" width="858" height="400"> </span>
                            </figure>
                            <br>
                        {% endif %}

                        {% if post.icerik5 %}
                            <div class="mt-4"> {{ post.icerik5|safe }}</div>
                        {% endif %}

                        {% if post.resim6 %}
                            <br>
                            <figure class="image">
                                    <span><img src="{{ post.resim6.url }}" loading="lazy"
                                               alt="{{ post.title }} - 6" width="858" height="400"> </span>
                            </figure>
                            <br>
                        {% endif %}

                        {% if post.icerik6 %}
                            <div class="mt-4"> {{ post.icerik6|safe }}</div>
                        {% endif %}



                        {% if post.resim7 %}
                            <br>
                            <figure class="image">
                                    <span><img src="{{ post.resim7.url }}" loading="lazy"
                                               alt="{{ post.title }} - 7" width="858" height="400"> </span>
                            </figure>
                            <br>
                        {% endif %}

                        {% if post.icerik7 %}
                            <div class="mt-4"> {{ post.icerik7|safe }}</div>
                        {% endif %}

                        {% if post.resim8 %}
                            <br>
                            <figure class="image">
                                    <span><img src="{{ post.resim8.url }}" loading="lazy"
                                               alt="{{ post.title }} - 8" width="858" height="400"> </span>
                            </figure>
                            <br>
                        {% endif %}

                        {% if post.icerik8 %}
                            <div class="mt-4"> {{ post.icerik8|safe }}</div>
                        {% endif %}


                        {% if post.resim9 %}

                            <figure class="image">
                                    <span><img src="{{ post.resim9.url }}" loading="lazy"
                                               alt="{{ post.title }} - 9" width="858" height="400"> </span>
                            </figure>

                        {% endif %}

                        {% if post.icerik9 %}
                            <div class="mt-4"> {{ post.icerik9|safe }}</div>
                        {% endif %}

                        {% if post.resim10 %}

                            <figure class="image">
                                    <span><img src="{{ post.resim10.url }}" loading="lazy"
                                               alt="{{ post.title }} - 10" width="858" height="400"> </span>
                            </figure>
                            <br>
                        {% endif %}

                        {% if post.icerik10 %}
                            <div class="mt-4"> {{ post.icerik10|safe }}</div>
                        {% endif %}

                        <!-- Post Finnish -->

                        <div class="divider style-1"></div>
                        <div class="bottom flex justify-between items-center">
                            <div class="widget-tag flex items-center">
                                <h3 class="title-widget">Share:</h3>

                                <ul class="flex flex-wrap gap4 items-center">
                                    <li><a href="#" class="icon-facebook"></a></li>
                                    <li><a href="#" class="icon-twitter"></a></li>
                                    <li><a href="#" class="icon-linkedin2"></a></li>
                                    <li><a href="#" class="icon-instagram"></a></li>
                                </ul>
                                -
                            </div>
                            <!-- sil
                            <div class="widget-social">
                                <ul class="flex">
                                    <li><a href="#" class="icon-facebook"></a></li>
                                    <li><a href="#" class="icon-twitter"></a></li>
                                    <li><a href="#" class="icon-linkedin2"></a></li>
                                    <li><a href="#" class="icon-instagram"></a></li>
                                </ul>
                            </div> -->
                        </div>
                        <div class="related-post">
                            <div class="prev">
                                <a href="#"><i class="icon-keyboard_arrow_left"></i>Previous post</a>
                                <div class="action items-center left flex mt-16">
                                    <img src="assets/images/blog/related-01.jpg" alt="">
                                    <div class="content">
                                        <h5>Unreal Engine for Fortnite is a big deal</h5>
                                        <div class="meta-info flex">
                                            <div class="item date">Mon, 08 May</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="next text-end">
                                <a href="#">Next post<i class="icon-keyboard_arrow_right"></i></a>
                                <div class="action items-center right flex mt-16">
                                    <div class="content">
                                        <h5>Regulators step in, mayhem ensues</h5>
                                        <div class="meta-info flex justify-end">
                                            <div class="item date">Mon, 08 May</div>
                                        </div>
                                    </div>
                                    <img src="assets/images/blog/related-02.jpg" alt="">
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


                <!-- right -->
                {% include 'newparse/sag.html' %}
                <!-- right -->

            </div>
        </div>
    </div>
    </div>
{% endblock main %}

<!-- Block Finnish -->

<!-- Javascript -->
{% block js %}
    <script src="{% static 'new/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'new/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'new/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'new/assets/js/SplitText.js' %}"></script>
    <script src="{% static 'new/assets/js/simpleParallax.min.js' %}"></script>
    <script src="{% static 'new/assets/js/gsap.js' %}"></script>
    <script src="{% static 'new/assets/js/ScrollTrigger.js' %}"></script>
    <script src="{% static 'new/assets/js/gsap-animation.js' %}"></script>
    <script src="{% static 'new/assets/js/tsparticles.min.js' %}"></script>
    <script src="{% static 'new/assets/js/tsparticles.js' %}"></script>
    <script src="{% static 'new/assets/js/main.js' %}"></script>
{% endblock js %}