{% load static %}
<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>
<html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie no-js" lang="en">  <!--<![endif]-->
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}Site Başlığı{% endblock %}</title>
    <meta name="description" content="{% block description %}Site description{% endblock %}">
    <meta name="keywords" content="{% block keywords %}Site keywords{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

    <!-- Robots Etiketi -->
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://{{ request.get_host }}{{ request.path }}"/>
    <meta name="author" content="{% block yazar %}Kids Bedtime Story{% endblock %}">


    <!-- Open Graph Etiketleri (Facebook, LinkedIn) -->
    <meta property="og:title" content="{% block ogtitle %}OG TITLE{% endblock %}">
    <meta property="og:description" content="{% block ogDes %}OG DES{% endblock %}">
    <!--<meta property="og:image" content="{% static 'images/bedtime-story.png' %}"> -->
    {% block sosyal_post_image %}
        <meta property="og:image" content="{% static 'images/bedtime-story.png' %}">{% endblock %}
    <meta property="og:url" content="{% block ogurl %}OG url{% endblock %}">
    <meta property="og:type" content="{% block ogtype %}website{% endblock %}">


    <!-- Twitter Card Etiketleri -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@kidsstorieshub">
    <meta name="twitter:title" content="{% block twtitle %}tw title{% endblock %}">
    <meta name="twitter:description" content="{% block twdesc %}tw description{% endblock %}">
    <!-- <meta name="twitter:image" content="{% static 'images/bedtime-story.png' %}"> -->
    {% block tt_post_image %}
        <meta name="twitter:image" content="{% static 'images/bedtime-story.png' %}">{% endblock %}
    <meta property="og:image:width" content="800"/>
    <meta property="og:image:height" content="400"/>
    <meta property="og:site_name" content="@kidsstorieshub">
    <meta name="twitter:creator" content="@kidsstorieshub">
    <meta name="twitter:card" content="summary_large_image">


    <!-- Basic Page Needs
    ================================================== -->

    <!-- <meta name="author" content="https://www.melihozkas.com"> -->
    <meta name="yandex-verification" content="a1f65db0029ca724"/>


    <!-- Mobile Specific Metas
    ==================================================
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=5">-->


    <!-- CSS
    ================================================== -->
    <!-- Base + Vendors CSS -->
    <link rel="preload" href="{% static 'css/bootstrap.min.css' %}" as="style" onload="this.rel='stylesheet'">
    <link rel="stylesheet" href="{% static 'css/fonts/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts/entypo/css/entypo.css' %}">
    <!--<link rel="stylesheet" href="{% static 'vendor/owl-carousel/owl.carousel.css' %}" media="screen"> -->
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel/owl.theme.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" media="screen">
    <!--<link rel="stylesheet" href="{% static 'vendor/flexslider/flexslider.css' %}" media="screen">-->

    <!-- Theme CSS-->
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme-elements.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

    <!-- Head Libs -->
    <script src="{% static 'vendor/modernizr.js' %}"></script>

    <!--[if lt IE 9]
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>   -->
    <script src="{% static 'vendor/respond.min.js' %}"></script>
    <![endif]-->

    <!--[if IE]>
		<link rel="stylesheet" href="{% static 'css/ie.css' %}">
	<![endif]-->

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'images/favicon/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7065951693101615"
            crossorigin="anonymous"></script>

    <!-- schema.org -->
    {% block extra_head %}{% endblock %}
    {% block extra_Two_head %}{% endblock extra_Two_head %}

    <!-- pinterest tag  -->
    <meta name="p:domain_verify" content="3e5526f26cbaf720f5bc1762d9424667"/>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-065YS9N2RK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-065YS9N2RK');
    </script>


</head>
<body class="boxed">

<!-- Top alert START en üsteki ibare -->
<div class="alert alert-warning py-2 m-0 bg-primary border-0 rounded-0 alert-dismissible fade show text-center overflow-hidden"
     role="alert">
    <!-- SVG shape START -->
    <figure class="position-absolute top-50 start-50 translate-middle">
        <svg width="1848" height="481" viewBox="0 0 1848.9 481.8" xmlns="http://www.w3.org/2000/svg">
            <path class="fill-success"
                  d="m779.4 251c-10.3-11.5-19.9-23.8-29.4-36.1-9-11.6-18.4-22.8-27.1-34.7-15.3-21.2-30.2-45.8-54.8-53.3-10.5-3.2-21.6-3.2-30.6 2.5-7.6 4.8-13 12.6-17.3 20.9-10.8 20.6-16.1 44.7-24.6 66.7-7.9 20.2-19.4 38.6-33.8 54.3-14.7 16.2-31.7 30-50.4 41-15.9 9.4-33.4 17.2-52 19.3-18.4 2-38-2.5-56.5-6.2-22.4-4.4-45.1-9.7-67.6-10.9-9.8-0.5-19.8-0.3-29.1 2.3-9.8 2.8-18.7 8.6-26.6 15.2-17.3 14.5-30.2 34.4-43.7 52.9-12.9 17.6-26.8 34.9-45.4 45.4-19.5 11-42.6 12.1-65 6.6-52.3-13.1-93.8-56.5-127.9-101.5-8.8-11.6-17.3-23.4-25.6-35.4-0.6-0.9-1.1-1.8-1.6-2.7-1.1-2.4-0.9-2.6 0.6-1.2 1 0.9 1.9 1.9 2.7 3 35.3 47.4 71.5 98.5 123.2 123.9 22.8 11.2 48.2 17.2 71.7 12.2 23-5 40.6-21.2 55.3-39.7 24.5-30.7 46.5-75.6 87.1-83 19.5-3.5 40.7 0.1 60.6 3.7 21.2 3.9 42.3 9.1 63.6 11.7 17.8 2.3 35.8-0.1 52.2-7 20-8.1 38.4-20.2 54.8-34.6 16.2-14.1 31-30.7 41.8-50.4 11.1-20.2 17-43.7 24.9-65.7 6.1-16.9 13.8-36.2 29.3-44.5 16.1-8.6 37.3-1.9 52.3 10.6 18.7 15.6 31.2 39.2 46.7 58.2"/>
            <path class="fill-warning"
                  d="m1157.9 344.9c9.8 7.6 18.9 15.8 28.1 24 8.6 7.7 17.6 15.2 26 23.2 14.8 14.2 29.5 30.9 51.2 34.7 9.3 1.6 18.8 0.9 26.1-3.8 6.1-3.9 10.2-9.9 13.2-16.2 7.6-15.6 10.3-33.2 15.8-49.6 5.2-15.1 13.6-29 24.7-41.3 11.4-12.6 24.8-23.6 40-32.8 12.9-7.8 27.3-14.6 43.1-17.3 15.6-2.6 32.8-0.7 49 0.7 19.6 1.7 39.4 4 58.8 3.4 8.4-0.3 17-1.1 24.8-3.6 8.2-2.7 15.4-7.4 21.6-12.7 13.7-11.6 23.1-26.7 33.3-40.9 9.6-13.5 20.2-26.9 35.3-35.6 15.8-9.2 35.6-11.6 55.2-9.1 45.7 5.8 84.8 34.3 117.6 64.4 8.7 8 17.2 16.2 25.6 24.6 2.5 3.2 1.9 3-1.2 1-34.3-32-69.7-66.9-116.5-81.9-20.5-6.5-42.7-9.2-62.4-4-19.3 5.1-33.1 17.9-44.3 32.2-18.5 23.7-33.9 57.5-68.1 65.5-16.5 3.8-34.9 2.6-52.3 1.3-18.5-1.4-37-3.7-55.4-4.2-15.5-0.5-30.7 2.5-44.2 8.5-16.5 7.2-31.3 17.1-44.3 28.5-12.8 11.2-24.1 24.1-31.9 39-7.9 15.3-11.1 32.5-16.2 48.9-3.9 12.6-9 26.9-21.6 33.9-13.1 7.3-31.9 3.8-45.7-4.1-17.2-10-29.9-26.1-44.6-38.8"/>
            <path class="fill-warning"
                  d="m1840.8 379c-8.8 40.3-167.8 79.9-300.2 45.3-42.5-11.1-91.4-32-138.7-11.6-38.7 16.7-55 66-90.8 67.4-25.1 1-48.6-20.3-58.1-39.8-31-63.3 50.7-179.9 155.7-208.1 50.4-13.5 97.3-3.2 116.1 1.6 36.3 9.3 328.6 87.4 316 145.2z"/>
            <path class="fill-success"
                  d="M368.3,247.3C265.6,257.2,134,226,110.9,141.5C85,47.2,272.5-9.4,355.5-30.7s182.6-31.1,240.8-18.6    C677.6-31.8,671.5,53.9,627,102C582.6,150.2,470.9,237.5,368.3,247.3z"/>
        </svg>
    </figure>
    <!-- SVG shape END -->
    <div class="position-relative">
        <p class="text-white m-0">New! Our free mobile app is live! Stories and games are now in your pocket!<a
                href="{% url 'app' %}"
                class="btn btn-xs btn-dark ms-3 mb-0">Download Now</a></p>
    </div>
    <!-- Close button -->
    <button type="button" class="btn-close btn-close-white opacity-9 p-3" data-bs-dismiss="alert"
            aria-label="Close"></button>
</div>
<!-- Top alert END -->


<div class="site-wrapper site-wrapper__boxed">

    <!-- Header -->
    <header class="header header-menu-fullw">
        <div class="header-main">
            <div class="container">

                <!-- Logo -->
                <div class="logo">
                    <a href="{% url 'home' %}"><img src="{% static 'images/kids-bedtime.png' %}" loading="lazy"
                                                    alt="Kids Bedtime Story Logo" width="220" height="57"> </a>
                    <!-- <h1><a href="index.html"><strong>Baby</strong>sitter</a></h1> -->
                    <p class="tagline hidden-xs hidden-sm">Best Bedtime Stories for Kids</p>
                </div>
                <!-- Logo / End -->

                <button type="button" class="navbar-toggle" aria-label="Toggle menu">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Banner -->
                <div class="head-info">
                    <ul class="head-info-list">
                        <li><span>Please Subscribe to Us on YouTube</span> <a
                                href="https://www.youtube.com/@KidsStoriesHubBedtime" target="_blank">@KidsStoriesHubBedtime</a>
                        </li>


                    </ul>
                    <ul class="social-links social-links__rounded social-links__colored">
                        <li><a href="https://twitter.com/@kidsstorieshub" target="_blank" aria-label="Twitter"><i
                                class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/@KidsStoriesHubBedtime" target="_blank"
                               aria-label="YouTube"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="https://www.instagram.com/" target="_blank" aria-label="Instagram"><i
                                class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/kidsstorieshub" target="_blank" aria-label="Facebook"><i
                                class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.pinterest.com/kidsstorieshub/" target="_blank" aria-label="Pinterest"><i
                                class="fa fa-pinterest"></i></a></li>

                    </ul>

                </div>
                <!-- Banner / End -->
            </div>
        </div>

        <!-- Navigation -->
        <nav class="nav-main">
            <div class="container">
                <ul data-breakpoint="992" class="flexnav">
                    <li class="active"><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'kategori_detay' kategori_slug="kids-bedtime-stories" %}">Bedtime Stories</a>
                    </li>
                    <li><a href="{% url 'kategori_detay' kategori_slug="fairy-tales-bedtime-stories-for-kids" %}">Fairy
                        Tales</a></li>
                    <li><a href="{% url 'kategori_detay' kategori_slug="family-kids-bedtime-stories" %}">Family</a></li>
                    <li><a href="{% url 'kategori_detay' kategori_slug="mothers-kids-bedtime-stories" %}">Mothers</a>
                    </li>
                    <li><a href="{% url 'kategori_detay' kategori_slug="magic-bedtime-stories-for-kids" %}">Magic</a>
                    </li>
                    <li><a href="{% url 'tüm_kategoriler' %}">All Category</a></li>
                    <li><a href="{% url 'blog' %}">Blog <i class="fa fa-star"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- Navigation / End -->

    </header>
    <!-- Header / End -->


    <!-- section main content -->


    <!-- Main -->
    <div class="main" role="main">

        {% block content %}

        {% endblock content %}



        <!-- Footer -->
        {% include 'parcali/footer.html' %}
        <!-- Footer / End -->

    </div>
    <!-- Main / End -->
</div>


<!-- Javascript Files
================================================== -->
<script src="{% static 'vendor/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'vendor/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap.js' %}"></script>
<script src="{% static 'vendor/jquery.flexnav.min.js' %}"></script>
<script src="{% static 'vendor/jquery.hoverIntent.minified.js' %}"></script>
<script src="{% static 'vendor/jquery.flickrfeed.js' %}"></script>
<script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.js' %}"></script>
<!--<script src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>-->
<script src="{% static 'vendor/jquery.fitvids.js' %}"></script>
<script src="{% static 'vendor/jquery.appear.js' %}"></script>
<script src="{% static 'vendor/jquery.stellar.min.js' %}"></script>
<!--<script src="{% static 'vendor/flexslider/jquery.flexslider-min.js' %}"></script> -->

<!-- Newsletter Form -->
<script src="{% static 'vendor/jquery.validate.js' %}"></script>
<script src="{% static 'js/newsletter.js' %}"></script>

<script src="{% static 'js/custom.js' %}"></script>


</body>
</html>