{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, shrink-to-fit=no">

    <!-- Primary Meta Tags -->
    {% block meta %}{% endblock meta %}
    <meta name="robots" content="index,follow,max-image-preview:large">
    <meta name="revisit-after" content="7 days">


    <!-- Open Graph / Facebook -->
    {% block OGF %}{% endblock OGF %}

    <!-- Twitter -->
    {% block tw %}{% endblock tw %}


    <!-- Mobile Optimization -->
    <meta name="apple-mobile-web-app-title" content="StoryUnfolds">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">


    <!-- PWA Manifest -->
    <link rel="manifest" href="{% static 'new/assets/favicon/site.webmanifest' %}">

    <!-- Preload Critical Assets -->
    <link rel="preload" href="{% static 'new/assets/css/style.css' %}" as="style">
    <link rel="preload" href="{% static 'new/assets/js/main.js' %}" as="script">

    <!-- Theme Styles -->
    <link rel="stylesheet" href="{% static 'new/assets/css/style.css' %}" media="screen,print">
    <link rel="stylesheet" href="{% static 'new/assets/css/responsive.css' %}"
          media="only screen and (max-width: 768px)">

    <!-- Favicon Ecosystem -->
    <link rel="shortcut icon" href="{% static 'new/assets/favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="196x196" href="{% static 'new/assets/favicon/android-chrome-192x192.png' %}">
    <link rel="apple-touch-icon" href="{% static 'new/assets/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'new/assets/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'new/assets/favicon/favicon-16x16.png' %}">
    {# canonical ve hreflang/alternate blokları #}
    {% block alternates %}{% endblock alternates %}

    {# structured data için esnek blok #}
    {% block structured_data %}{% endblock structured_data %}

    <!-- Schema.org Structured Data -->
    <script type="application/ld+json">
    [
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "name": "Story Unfolds",
            "url": "https://www.kidsstorieshub.com/",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://www.kidsstorieshub.com/search?q={search_term}",
                "query-input": "required name=search_term"
            },
            "inLanguage": "en-US"
        },
        {
            "@context": "https://schema.org",
            "@type": "MobileApplication",
            "name": "Story Unfolds: Kids Learning App",
            "operatingSystem": ["Android", "iOS"],
            "applicationCategory": "EducationalApplication",
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "4.9",
                "ratingCount": "18500"
            },
            "offers": {
                "@type": "Offer",
                "price": "0.00",
                "priceCurrency": "USD",
                "availability": "https://schema.org/InStock"
            },
            "downloadUrl": [
                "https://apps.apple.com/app/story-unfolds/id6739774052",
                "https://play.google.com/store/apps/details?id=com.storyunfolds.app"
            ],
            "featureList": [
                "Voice Narration",
                "Interactive Games",
                "Daily New Stories",
                "Parental Dashboard"
            ],
            "author": {
                "@type": "Organization",
                "name": "Kids Story Hub",
                "sameAs": [
                    "https://www.facebook.com/kidsstorieshub",
                    "https://www.youtube.com/@KidsStoriesHubBedtime",
                    "https://twitter.com/KidsStoriesHub"
                ]
            }
        },
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "name": "Home",
                    "item": "https://www.kidsstorieshub.com/"
                }
            ]
        }
    ]
    </script>

    <!-- App Deep Linking -->
    <link rel="alternate" href="android-app://com.storyunfolds.app/kidsstorieshub/main">
    <link rel="alternate" href="ios-app://id6739774052/kidsstorieshub/main">

    <!-- Security Headers -->
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="referrer" content="strict-origin-when-cross-origin">

    <!-- ads -->
    <!-- ads
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7065951693101615"
            crossorigin="anonymous"></script>
    -->

    <!-- pinterest tag  -->
    <meta name="p:domain_verify" content="3e5526f26cbaf720f5bc1762d9424667"/>

    <!-- <meta name="author" content="https://www.melihozkas.com"> -->
    <meta name="yandex-verification" content="a1f65db0029ca724"/>

</head>

<body class="body">
<div id="wrapper">
    <div id="page" class="pt-40 home-1">
        <!-- Header Begin -->
        {% include 'newparse/header.html' %}
        <!-- Header Finnish -->

        <!-- Block Begin -->
        {% block main %}{% endblock main %}
        <!-- Block Finnish -->

        <!-- Footer -->
        {% include 'newparse/footer.html' %}
        <!-- /#footer -->
    </div>
    <!-- /#page -->

</div>
<!-- /#wrapper -->

<div class="tf-mouse tf-mouse-outer"></div>
<div class="tf-mouse tf-mouse-inner"></div>

<div class="progress-wrap active-progress">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
              style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 286.138;"></path>
    </svg>
</div>

<!-- Javascript -->

<!-- Javascript -->
{% block js %}{% endblock js %}


</body>
<!-- Dell -->
</html>