{% extends 'base.html' %}
{% load static %}


{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block ogtitle %}{{ title }}{% endblock %}
{% block ogDes %}{{ description }}{% endblock %}
{% block ogurl %}{{ request.build_absolute_uri }}{% endblock %}

{% block twaccountsite %}@Melih{% endblock %}
{% block twcreator %}@Melih{% endblock %}
{% block twtitle %}{{ title }}{% endblock %}
{% block twdesc %}{{ description }}{% endblock %}



{% block content %}

    <!-- Slider -->
    <section class="slider-holder">
        <div class="container">
            <div class="cta-txt">
                <h1 class="text-center">Welcome to Our Children's Fairy Tale and Story Website</h1>
                <p>Step into a world of enchantment and imagination as you explore our collection of bedtime
                    stories, fairy tales, and more. Welcome to a realm where dreams come to life!</p>
            </div>
        </div>
    </section>
    <!-- Slider / End -->

    <!-- Page Content -->
    <!-- Page Content -->
    <section class="page-content">
        <div class="container">

            <div class="row">
                <div class="content col-md-8">

                    <!-- Begin -->
                    <div style="display: flex; justify-content: space-between;">
                        <h2>Kids Bedtime Stories Categories</h2>
                        <a href="https://www.kidsstorieshub.com/kids-story-categories-detail/kids-bedtime-stories/"
                           style="font-size: 16px"><strong>All Story</strong></a>
                    </div>

                    <!-- Post (Standard Format) -->
                    <article class="entry entry__standard entry__with-icon">
                        <figure class="alignnone entry-thumb">
                            <a href="https://www.kidsstorieshub.com/kids-story-categories-detail/kids-bedtime-stories/"><img
                                    src="{% static 'images/bedtime-story/big-banner/kids-bedtime-stories.webp' %}"
                                    loading="lazy"
                                    alt="Bedtime Stories with a Touch of Magic Entertaining and Educational Stories for Kids"
                                    width="800" height="400"> </a>
                        </figure>


                        <h2><a href="{% url 'kategori_detay' kategori_slug="kids-bedtime-stories" %}">Bedtime Stories
                            with a Touch of Magic Entertaining and Educational Stories for Kids</a></h2>
                        <div class="entry-meta">
                                <span class="entry-category"><i class="fa fa-folder"></i> <a
                                        href="{% url 'kategori_detay' kategori_slug="kids-bedtime-stories" %}">Bedtime Stories for Kids - Read & Listen Free</a></span>

                        </div>

                        <div>Immerse in enchanting Bedtime Stories, offering soothing tales and dreams
                            that captivate young hearts. Discover a world of wonder and tranquility.
                        </div>
                        <footer style="text-align: center;">
                            <a href="{% url 'kategori_detay' kategori_slug='kids-bedtime-stories' %}"
                               class="btn btn-primary">Explore Bedtime Stories</a>
                        </footer>

                    </article>
                    <!-- Post (Standard Format) / End -->
                    <!-- Begin / END-->


                    <!-- Begin -->
                    <div style="display: flex; justify-content: space-between;">
                        <h2>Animals Stories Categories</h2>
                        <a href="https://www.kidsstorieshub.com/kids-story-categories-detail/kids-bedtime-stories-about-animals/"
                           style="font-size: 16px"><strong>All Story</strong></a>
                    </div>

                    <!-- Post (Standard Format) -->
                    <article class="entry entry__standard entry__with-icon">
                        <figure class="alignnone entry-thumb">
                            <a href="https://www.kidsstorieshub.com/kids-story-categories-detail/kids-bedtime-stories-about-animals/"><img
                                    src="{% static 'images/bedtime-story/big-banner/kids-animal-storys.webp' %}"
                                    loading="lazy"
                                    alt="Kids Bedtime Stories About Animals | Read & Listen Free"
                                    width="800" height="400"> </a>
                        </figure>


                        <h2><a href="https://www.kidsstorieshub.com/kids-story-categories-detail/kids-bedtime-stories-about-animals/">Discover
                            Enchanting Kids' Bedtime Stories Filled with Animal Characters</a></h2>
                        <div class="entry-meta">
                                <span class="entry-category"><i class="fa fa-folder"></i> <a
                                        href="https://www.kidsstorieshub.com/kids-story-categories-detail/kids-bedtime-stories-about-animals/">Kids Bedtime Stories About Animals | Read & Listen Free</a></span>

                        </div>

                        <div>Discover the enchanting world of animals through our bedtime stories. Dive into adventures
                            and learn valuable lessons from the animal kingdom.
                        </div>
                        <footer style="text-align: center;">
                            <a href="https://www.kidsstorieshub.com/kids-story-categories-detail/kids-bedtime-stories-about-animals/"
                               class="btn btn-primary">Explore Animals Stories</a>
                        </footer>

                    </article>
                    <!-- Post (Standard Format) / End -->
                    <!-- Begin / END-->


                    <!-- Begin -->
                    <div style="display: flex; justify-content: space-between;">
                        <h2>Fairy Tales Categories</h2>
                        <a href="https://www.kidsstorieshub.com/kids-story-categories-detail/fairy-tales-bedtime-stories-for-kids/"
                           style="font-size: 16px"><strong>All Story</strong></a>
                    </div>

                    <!-- Post (Standard Format) -->
                    <article class="entry entry__standard entry__with-icon">
                        <figure class="alignnone entry-thumb">
                            <a href="https://www.kidsstorieshub.com/kids-story-categories-detail/fairy-tales-bedtime-stories-for-kids/"><img
                                    src="{% static 'images/bedtime-story/big-banner/kids-fairy-tales-free-read.webp' %}"
                                    loading="lazy"
                                    alt="Fairy Tales For Kids at Bedtime | Read & Listen Free"
                                    width="800" height="400"> </a>
                        </figure>


                        <h2><a href="https://www.kidsstorieshub.com/kids-story-categories-detail/fairy-tales-bedtime-stories-for-kids/">Explore Magical
                            Bedtime Fairy Tales For Kids A World of Imagination Awaits</a></h2>
                        <div class="entry-meta">
                                <span class="entry-category"><i class="fa fa-folder"></i> <a
                                        href="https://www.kidsstorieshub.com/kids-story-categories-detail/fairy-tales-bedtime-stories-for-kids/">Fairy Tales For Kids at Bedtime | Read & Listen Free</a></span>

                        </div>

                        <div>Delve into a world of wonder with timeless fairy tales. Immerse yourself in enchanting
                            stories filled with magic, heroes, and adventure.
                        </div>
                        <footer style="text-align: center;">
                            <a href="https://www.kidsstorieshub.com/kids-story-categories-detail/fairy-tales-bedtime-stories-for-kids/"
                               class="btn btn-primary">Explore Fairy Tales Stories</a>
                        </footer>

                    </article>
                    <!-- Post (Standard Format) / End -->
                    <!-- Begin / END-->


                    <!-- Begin -->
                    <div style="display: flex; justify-content: space-between;">
                        <h2>Youtube Video</h2>
                        <a href="https://www.kidsstorieshub.com/kids-stories-youtube-videos/"
                           style="font-size: 16px"><strong>All Story</strong></a>
                    </div>

                    <!-- Post (Standard Format) -->
                    <article class="entry entry__standard entry__with-icon">
                        <figure class="alignnone entry-thumb">
                            <a href="https://www.kidsstorieshub.com/kids-stories-youtube-videos/"><img
                                    src="{% static 'images/bedtime-story/big-banner/kids-youtube-stories.webp' %}"
                                    loading="lazy"
                                    alt="Enchanting Fairy Tales - Kids YouTube Video Collection"
                                    width="800" height="400"> </a>
                        </figure>


                        <h2><a href="https://www.kidsstorieshub.com/kids-stories-youtube-videos/">Dive into the
                            Magical World of Fairy Tales with Our YouTube Video Collection for Kids</a></h2>
                        <div class="entry-meta">
                                <span class="entry-category"><i class="fa fa-folder"></i> <a
                                        href="https://www.kidsstorieshub.com/kids-stories-youtube-videos/">Enchanting Fairy Tales - Kids YouTube Video Collection</a></span>

                        </div>

                        <div>Welcome to our enchanting collection of fairy tales, brought to life through captivating
                            YouTube videos. Perfect for kids of all ages, these timeless stories will spark imagination,
                            teach valuable lessons, and provide endless entertainment.
                        </div>
                        <footer style="text-align: center;">
                            <a href="https://www.kidsstorieshub.com/kids-stories-youtube-videos/"
                               class="btn btn-primary">Explore Youtube Videos Stories</a>
                        </footer>

                    </article>
                    <!-- Post (Standard Format) / End -->
                    <!-- Begin / END-->


                </div>

                <aside class="sidebar col-md-4">

                    <hr class="visible-sm visible-xs lg">

                    {% include 'parcali/sagNav.html' %}

                </aside>
            </div>

        </div>
    </section>
    <!-- Page Content / End -->


{% endblock content %}